<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <footer>
        <div class="fbody">
            <div class="footerbody">
                <div class="footabout">
                    <p>About us</p>
                    <p class="footdesc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste aspernatur quae quod distinctio. Inventore, excepturi!</p>
                </div>

                <div class="footabout">
                    <p>Help</p>
                    <p class="footdesc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste aspernatur quae quod distinctio. Inventore, excepturi!</p>
                </div>

                <div class="footabout">
                    <p>Privacy</p>
                    <p class="footdesc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste aspernatur quae quod distinctio. Inventore, excepturi!</p>
                </div>
                
                <div class="footabout">
                    <p>Social</p>
                    <p class="footdesc falinks">
                        <a href="https://twitter.com/rohit_dev7" class="beta">Twitter</a>
                        <a href="https://www.linkedin.com/in/rohit-pandey-8a6896174/" class="alpha">LinkedIn</a>
                        <a href="https://github.com/therohit777" class="alpha">Github</a>
                        <a href="https://www.instagram.com/devrohit778/" class="alpha">Instagram</a>
                    </p>
                </div>
            </div>

            <div class="footerbody2">
                <div class="footabout">
                    <p>Mail Us:</p>
                    <p class="footdesc">
                        Bshop Internet Private Limited,
                        Buildings Alyssa, Begonia &
                        Clove Embassy Tech Village,
                        Outer Ring Road, Devarabeesanahalli Village,
                        Bengaluru, 560103,
                        Karnataka, India
                    </p>
                </div>

                <div class="footabout">
                    <p>Registered Office Address</p>
                    <p class="footdesc">
                        Bshop Internet Private Limited,
                        Buildings Alyssa, Begonia &
                        Clove Embassy Tech Village,
                        Outer Ring Road, Devarabeesanahalli Village,
                        Bengaluru, 560103,
                        Karnataka, India
                        CIN : U51109KA2012PTC066107, 
                        Telephone: <span> 044-45614700</span>
                    </p>
                </div>
            </div>
        </div>
       <div class="copyright">© 2022-2030 Bshop.com</div> 
    </footer>
    
</body>
</html>