<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="head">
        <nav class="navbar">
            <a href="/"><div class="logo">BShop</div></a>
            <div class="search">
                <input type="text" placeholder="Search for products,brands and more">
                <i class="fa fa-search"></i>
            </div>
            <div class="cart">
                <a href="/shopingcart">
                    <div class="cartdetails">
                        <i class="fas fa-shopping-bag"></i>
                        <span>0</span>
                    </div>
                </a>
                <a href="/signin"><button>Signin</button></a>
            </div>
            <div class="hamburgermenu"></div>
        </nav>
    </div>
</body>
</html>